**/.ipynb_checkpoints/
**/__pycache__/
**._*
**/*~
**/.*
**/*pyc
weights.tar.gz
weights
UniRef30_2020_06_hhsuite.tar.gz
UniRef30_2020_06
bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt.tar.gz
bfd
pdb100_2021Mar03.tar.gz
pdb100_2021Mar03
lddt.zip
lddt
csblast-2.2.3.tar.gz
csblast-2.2.3
